@font-face {
    font-family: 'Spectral';
    src: url('Spectral-Regular.eot');
    src: url('Spectral-Regular.eot?#iefix') format('embedded-opentype'),
        url('Spectral-Regular.woff') format('woff'),
        url('Spectral-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

